<style>
.scrollable-panel {
	max-height:350px;
	overflow-y:scroll;
}
.fixedsize-panel {
	max-height:350px;
	height:350px;
}
td textarea {
	width: 100%;
	height: 100%;
}
.history-tstamp {
	min-width: 100px;
	width:100px;
	max-width: 100px;
}
pre {
	white-space: pre-wrap;
}
.table th, .table td { 
        border-top: none !important;
        border-left: none !important;
}
.panel-body {
	padding: 3px;
}
.table {
	margin: 2px;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
	padding: 3px;
}
.panel-heading {
	padding: 5px;
}
</style>
<div class="row" id="firstrow"></div>
<div class="row" id="secondrow"></div>
<div class="row hidden" id="extension-reason-row">
  <div class='col-sm-8 col-sm-offset-2' style="margin-bottom: 10px;"><pre></pre></div>
</div>
<div class='row'>
  <div class='col-sm-8 col-sm-offset-2' style="margin-bottom: 10px;">
    <center>
      Message to send to user
      <br>
      <textarea id='reason'
		class='form-control'
		rows=5></textarea>
      <div style="margin-top: 10px;">
	<span data-toggle='popover'
	     data-delay='{"hide":500, "show":500}'
	     data-content='Schedule termination for the future (in days)
			   or right away (leave days zero).'>
	  <button class='btn btn-primary btn-sm'
		  style='margin-right: 20px;'
		  id="terminate-button"
		  data-toggle='modal' data-target='#confirm-terminate-modal'
		  type='button' name='terminate'>Schedule Termination</button>
	</span>
	<button class='btn btn-danger btn-sm'
		style='margin-right: 20px;'
		id='deny-extension'
		type='submit' name='request'>Deny</button>
	<input id="days" value="0" type="text" size="4" placeholder="days">
	<button class='btn btn-primary btn-sm'
		style='margin-left: 20px;'
		id='do-extension'
		type='submit' name='request'>Extend</button>
	<button class='btn btn-primary btn-sm'
		style='margin-left: 30px;'
		id='do-moreinfo'
		type='submit' name='moreinfo'>More Info</button>
      </div>
    </center>
  </div>
</div>
<div class="row" id="thirdrow"></div>
<div class='row'>
  <div class='col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
    <div class='panel panel-default hidden' id="utilization-panel-div">
      <div class="panel-heading">
	<h5>
	  <a data-toggle="collapse" id="utilization-toggle"
	     href="#utilization-collapse"><span>Utilization</span>
	    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
	  </a>
	</h5>
      </div>
      <div id="utilization-collapse"
	   class="panel-collapse collapse">
	<div class='panel-body'>
	  <div class="scrollable-panel"
	       id="utilization-panel-content"
	       data-status="minimized"></div>
	</div>
      </div>
    </div>
  </div>
  <div id='waitwait_div'></div>
  <div id='oops_div'></div>
</div>
<div class='row'>
  <div class='col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
    <div class='panel panel-default hidden' id="history-panel-div">
      <div class="panel-heading">
	<h5>
	  <a data-toggle="collapse" id="history-toggle"
	     href="#history-collapse"><span>Extension History</span>
	    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
	  </a>
	</h5>
      </div>
      <div id="history-collapse"
	   class="panel-collapse collapse">
	<div class='panel-body'>
	  <div class="scrollable-panel"
	       id="history-panel-content"
	       data-status="minimized"></div>
	</div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
    <div class='panel panel-default hidden' id="openstack-panel-div">
      <div class="panel-heading">
	<h5>
	  <a data-toggle="collapse" id="openstack-toggle"
	     href="#openstack-collapse"><span>Openstack Stats</span>
	    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
	  </a>
	</h5>
      </div>
      <div id="openstack-collapse"
	   class="panel-collapse collapse">
	<div class='panel-body'>
	  <div class="scrollable-panel"
	       id="openstack-panel-content"
	       data-status="minimized"></div>
	</div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
    <div class='panel panel-default hidden' id="loadavg-panel-div">
      <div class="panel-heading">
	<h5>
	  <a data-toggle="collapse" id="loadavg-toggle"
	     href="#loadavg-collapse"><span>Load Average Graph</span>
	    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
	  </a>
	</h5>
      </div>
      <div id="loadavg-collapse"
	   class="panel-collapse collapse">
	<div style="padding-top:5px;" class='panel-body'>
	  <!-- The col setting gives us a "relative" position div -->
	  <div class='col-xs-12 col-xs-offset-0'
	       style="padding:0px;">
	    <!--
	    So now we can use an "absolute" position to put
	    the radio button in the upper left of the graph
	    where it will not overwrite anything.
	    -->
	    <div class="hidden toggles"
		 style='position:absolute;left:5px;top:0px'>
	      <label class="radio-inline">
		<input type="radio" name="loadav-radio"
		       checked="checked" value="max"> Max
	      </label>
	      <label class="radio-inline">
		<input type="radio" name="loadav-radio"
		       value="avg"> Avg
	      </label>
	    </div>
	    <div id="loadavg-chart"
		 class='fixedsize-panel with-3d-shadow with-transitions'>
	      <svg></svg>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
    <div class='panel panel-default hidden' id="ctrl-traffic-panel-div">
      <div class="panel-heading">
	<h5>
	  <a data-toggle="collapse" class="traffic-toggle"
	     id="ctrl-traffic-toggle" 
	     href="#ctrl-traffic-collapse"><span>Control Traffic Graph</span>
	    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
	  </a>
	</h5>
      </div>
      <div id="ctrl-traffic-collapse"
	   class="panel-collapse collapse traffic-collapse">
	<div class='panel-body' style="padding-top:5px;">
	  <!-- The col setting gives us a "relative" position div -->
	  <div class='col-xs-12 col-xs-offset-0'
	       style="padding:0px;">
	    <!-- So now we can use an "absolute" position to put
	    the radio button in the upper left of the graph
	    where it will not overwrite anything.
	    -->
	    <div class="hidden toggles"
		 style='position:absolute;left:5px;top:0px'>
	      <label class="radio-inline">
		<input type="radio" name="ctrl-radio"
		       checked="checked" value="max"> Max
	      </label>
	      <label class="radio-inline">
		<input type="radio" name="ctrl-radio"
		       value="avg"> Avg
	      </label>
	    </div>
	    <div id="ctrl-traffic-chart"
		 class='fixedsize-panel with-3d-shadow with-transitions'>
	      <svg></svg>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
    <div class='panel panel-default hidden' id="expt-traffic-panel-div">
      <div class="panel-heading">
	<h5>
	  <a data-toggle="collapse" id="expt-traffic-toggle"
	     href="#expt-traffic-collapse"><span>Experiment Traffic Graph</span>
	    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
	  </a>
	</h5>
      </div>
      <div id="expt-traffic-collapse"
	   class="panel-collapse collapse">
	<div class='panel-body' style="padding-top:5px;">
	  <!-- The col setting gives us a "relative" position div -->
	  <div class='col-xs-12 col-xs-offset-0'
	       style="padding:0px;">
	    <!-- So now we can use an "absolute" position to put
	    the radio button in the upper left of the graph
	    where it will not overwrite anything.
	    -->
	    <div class="hidden toggles"
		 style='position:absolute;left:5px;top:0px'>
	      <label class="radio-inline">
		<input type="radio" name="ctrl-radio"
		       checked="checked" value="max"> Max</label>
		<label class="radio-inline">
		  <input type="radio" name="ctrl-radio"
			 value="avg"> Avg</label>
	    </div>
	    <div id="expt-traffic-chart"
		 class='fixedsize-panel with-3d-shadow with-transitions'>
	      <svg></svg>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<div>
  <script id="history-template" type="text/template">
  </script>
</div>
<div>
  <script id="firstrow-template" type="text/template">
  </script>
</div>
<div>
  <script id="secondrow-template" type="text/template">
  </script>
</div>
<div>
  <script id="utilization-template" type="text/template">
  </script>
</div>
<div>
  <script id="summary-template" type="text/template">
  </script>
</div>
<!-- Confirm Terminate -->
<div id='confirm-terminate-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <center><h3>Confirm to Terminate</h3>
          <button class='btn btn-danger btn-sm'
		  id='do-terminate'>Confirm</button></center>
      </div>
    </div>
  </div>
</div>
<!-- Finished -->
<div id='success-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <center><h3>Operation Successful</h3>
	  <br>
          <button class='btn btn-success btn-sm'
		  data-dismiss='modal'>Close</button></center>
      </div>
    </div>
  </div>
</div>
