<div>
<script id="counts-template" type="text/template">
  <table class='tablesorter-green'>
    <thead>
      <tr>
	<th>Type</th>
	<th>Inuse</th>
	<th>Pre</th>
	<th>Free</th>
      </tr>
    </thead>
    <tbody>
      <%  _.each(totals, function(value, type) { %>
	<tr>
	  <td><%- type %></td>
	  <td><%- value.inuse %></td>
	  <td><%- value.preres %></td>
	  <td><%- value.free %>
	      <% if (value.free_preres) { %>(<%- value.free_preres %>)<% } %>
	  </td>
	</tr>
      <% }); %>
    </tbody>
  </table>
</script>

<script id="preres-template" type="text/template">
  <table class="tablesorter tablesorter-green"
	 id='prereserve-table-<%- cluster_name %>'>
    <thead>
      <tr>
	<th>Pid</th>
	<th>Name</th>
	<th>Pri</th>
	<th>Need</th>
	<th>Got</th>
	<th>Types</th>
	<th>Creator</th>
	<th>Created</th>
      </tr>
    </thead>
    <tbody>
      <% prereslist.forEach(function(value, index) { %>
	<% var expando_target = cluster_name + "-" + value.pid + "-" + value.name + "-collapse"; %>
	<tr>
	  <td>
	    <% if (value.prereserved.length) { %>
	      <a>
		<span data-target='<%- "#" + expando_target %>'
		      class='glyphicon glyphicon-chevron-right
			     <%- expando_class %>'>
		</span>
	      </a>
	    <% } %>
	    <%- value.pid %>
	  </td>
	  <td><%- value.name %></td>
	  <td><%- value.priority %></td>
	  <td><%- value.count %></td>
	  <td><%- value.prereserved.length %></td>
	  <td><%- value.types %></td>
	  <td><%- value.creator %></td>
	  <td><%- moment(value.created).format("ll") %></td>
	</tr>
	<% if (value.prereserved.length || value.nodes.length) { %>
	  <tr>
	    <td class=hiddenRow></td>
	    <td colspan=7 class=hiddenRow>
	      <div class='collapse'
		   id='<%- expando_target %>'>
		<% if (value.prereserved.length) { %>
		  <center class=text-center>Pre Reserved</center>
		  <table class='tablesorter tablesorter-green'>
		    <thead>
		      <th>Node</th><th>Type</th>
		    </thead>
		    <tbody>
		      <% for (var i=0; i < value.prereserved.length; i++) { %>
			<% var pre = value.prereserved[i]; %>
			<tr>
			  <td><%- pre.node_id %></td>
			  <td><%- pre.type %></td>
			</tr>
		      <% } %>
		    </tbody>
		  </table>
		<% } %>
		<% if (value.nodes.length) { %>
		  <center class=text-center>Pending</center>
		  <table class='tablesorter tablesorter-green'>
		    <thead>
		      <th>Node</th><th>Type</th>
		    </thead>
		    <tbody>
		      <% for (var i=0; i < value.nodes.length; i++) { %>
			<% var pending = value.nodes[i]; %>
			<tr>
			  <td><%- pending.node_id %></td>
			  <td><%- pending.type %></td>
			</tr>
		      <% } %>
		    </tbody>
		  </table>
		<% } %>
	      </div>
	    </td>
	  </tr>
	<% } %>
      <% }); %>
    </tbody>
  </table>
</script>
</div>
