<div>
  <table class='tablesorter' class='dataset_table'>
    <thead>
      <tr>
	<th>Name</th>
	<% if (showuser) { %><th>Creator</th><% } %>
	<% if (showproject) { %><th>Project</th><% } %>
	<th>Type</th>
	<th>Created</th>
	<th>Expires</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(datasets, function(value, name) { %>
	<tr>
	  <td><a href='show-dataset.php?uuid=<%- value.uuid %>'>
	    <%= value.name %></a></td>
	  <% if (showuser) { %>	  
	    <td style='white-space: nowrap;'>
	      <a href='user-dashboard.php?user=<%- value.creator_uid %>'>
		<%- value.creator_uid %></a></td>
	  <% } %>	    
	  <% if (showproject) { %>	  
	    <td style='white-space: nowrap;'>
	      <a href='show-project.php?project=<%- value.pid %>'>
		<%- value.pid %></a></td>
	  <% } %>
	  <td><%- value.type %></td>
	  <td class="format-date"><%- value.created %></td>
	  <td class="format-date"><%- value.expires %></td>
	</tr>
      <% }); %>
    </tbody>
  </table>
</div>


