<div class="row edit-buttons">
  <div class="col-md-12">
    <button id="saveButton" class="btn btn-default">Download</button>
    <button id="loadButton" class="btn btn-default">Upload</button>
    <button id="runButton" class="btn btn-default">Test Script</button>
    <button id="settingsButton" class="btn btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
    <a href="http://docs.cloudlab.us/geni-lib.html" target="_blank"><span style="color: #337ab7" class="glyphicon glyphicon-question-sign"></span> How To Write a Genilib Script</a>
    <button id="cancelButton" class="btn btn-danger pull-right" style="margin-left: 10px">Cancel</button>
    <button id="okButton" class="btn btn-primary pull-right" style="margin-left: 10px">Accept</button>
  </div>
</div>
<div class="row">
  <div id="editor-container" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div id="genilib-editor"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

    <!------------------------------------------------->

    <div id="create-root">
      <button id="closeCreateButton" type="button" class="close" aria-label="Close Error"><span aria-hidden="true">&times;</span></button>
      <div id="create-body">
      </div>
    </div>

    <!------------------------------------------------->

    <div id="jacks-root">
      <button id="closeJacksButton" type="button" class="close" aria-label="Close Error"><span aria-hidden="true">&times;</span></button>
      <h1>Generated Topology</h1>
      <div id="jacks-container" class="jacks"></div>
    </div>
    
    <!------------------------------------------------->

    <div id="error-root">
      <div class="panel panel-danger">
	<div class="panel-heading">
	  <button id="closeErrorButton" type="button" class="close" aria-label="Close Error"><span aria-hidden="true">&times;</span></button>
	  <div class="panel-title">Errors</div>
	</div>
	<div class="panel-body">
	  <div id="error-message"></div>
	</div>
      </div>
    </div>
    
    <!------------------------------------------------->

    <div id="settings-root">

      <div class="panel panel-default">
	<div class="panel-heading">
	  <button id="closeSettingsButton" type="button" class="close" aria-label="Close Settings"><span aria-hidden="true">&times;</span></button>
	  <div class="panel-tile">Settings</div>
	</div>
	<div class="panel-body">

	  <form class="form-horizontal">

	    <!--
		<select id="split">
		</select>
		-->


	    <div class="form-group">
	      <label for="theme" class="col-sm-2 control-label">Visual Theme</label>
	      <div class="col-sm-10">
		<select id="theme" class="form-control">
		  <optgroup label="Light Themes">
		    <option value="chrome" selected="selected">Chrome</option>
		    <option value="clouds">Clouds</option>
		    <option value="crimson_editor">Crimson Editor</option>
		    <option value="dawn">Dawn</option>
		    <option value="dreamweaver">Dreamweaver</option>
		    <option value="eclipse">Eclipse</option>
		    <option value="github">GitHub</option>
		    <option value="iplastic">IPlastic</option>
		    <option value="solarized_light">Solarized Light</option>
		    <option value="textmate">TextMate</option>
		    <option value="tomorrow">Tomorrow</option>
		    <option value="xcode">XCode</option>
		    <option value="kuroir">Kuroir</option>
		    <option value="katzenmilch">KatzenMilch</option>
		    <option value="sqlserver">SQL Server</option>
		  </optgroup>

		  <optgroup label="Dark Themes">
		    <option value="ambiance">Ambiance</option>
		    <option value="chaos">Chaos</option>
		    <option value="clouds_midnight">Clouds Midnight</option>
		    <option value="cobalt">Cobalt</option>
		    <option value="idle_fingers">Idle Fingers</option>
		    <option value="kr_theme">krTheme</option>
		    <option value="merbivore">Merbivore</option>
		    <option value="merbivore_soft">Merbivore Soft</option>
		    <option value="mono_industrial">Mono Industrial</option>
		    <option value="monokai">Monokai</option>
		    <option value="pastel_on_dark">Pastel on Dark</option>
		    <option value="solarized_dark">Solarized Dark</option>
		    <option value="terminal">Terminal</option>
		    <option value="tomorrow_night">Tomorrow Night</option>
		    <option value="tomorrow_night_blue">Tomorrow Night Blue</option>
		    <option value="tomorrow_night_bright">Tomorrow Night Bright</option>
		    <option value="tomorrow_night_eighties">Tomorrow Night 80's</option>
		    <option value="twilight">Twilight</option>
		    <option value="vibrant_ink">Vibrant Ink</option>
		    
		  </optgroup>
		</select>
	      </div>
	    </div>

	    <div class="form-group">
	      <label for="fontsize" class="col-sm-2 control-label">Font Size</label>
	      <div class="col-sm-10">
		<select id="fontsize" class="form-control">
		  <option value="8px">8px</option>
		  <option value="10px">10px</option>
		  <option value="12px" selected="selected">12px</option>
		  <option value="14px">14px</option>
		  <option value="16px">16px</option>
		  <option value="18px">18px</option>
		  <option value="24px">24px</option>
		  <option value="36px">36px</option>
		</select>
	      </div>
	    </div>

	    <div class="form-group">
	      <label for="codefolding" class="col-sm-2 control-label">Code Folding</label>
	      <div class="col-sm-10">
		<select id="codefolding" class="form-control">
		  <option value="markbegin">Enabled</option>
		  <option value="manual" selected="selected">Disabled</option>
		</select>
	      </div>
	    </div>

	    <div class="form-group">
	      <label for="keybinding" class="col-sm-2 control-label">Key Binding</label>
	      <div class="col-sm-10">
		<select id="keybinding" class="form-control">
		  <option value="ace" selected="selected">Ace Editor</option>
		  <option value="emacs">Emacs</option>
		  <option value="vim">Vim</option>
		</select>
	      </div>
	    </div>

	    <div class="form-group">
	      <label for="showspace" class="col-sm-2 control-label">Show Whitespace</label>
	      <div class="col-sm-10">
		<select id="showspace" class="form-control">
		  <option value="enabled">Enabled</option>
		  <option value="disabled" selected="selected">Disabled</option>
		</select>
	      </div>
	    </div>
	    
	  </form>
	</div>
      </div>
    </div>

  </div>
</div>
<div id="load-input" style="display: none"></div>
