<style>
 .panel-body-dashboard {
     padding: 2px;
 }
 .table-dashboard {
     margin: 1px;
 }
 .popover{
     max-width: 800px;
 }
 .table-condensed > thead > tr > th,
 .table-condensed > tbody > tr > th,
 .table-condensed > tfoot > tr > th,
 .table-condensed > thead > tr > td,
 .table-condensed > tbody > tr > td,
 .table-condensed > tfoot > tr > td {
     padding: 2px;
 }
 .panel-heading-list {
     padding: 2px;
 }
</style>
<div class='col-lg-10 col-lg-offset-1
	    col-md-12 col-md-offset-0
	    col-sm-12 col-sm-offset-0
	    col-xs-12 col-xs-offset-0'>
  <div class='panel panel-default'>
    <div class="panel-heading panel-heading-list">
      <h5>
	<center><%- name %> Images</center>
      </h5>
    </div>
    <div class='panel-body panel-body-dashboard'>
      <table class='tablesorter hidden' id='images-table-no-profiles'>
	<caption>
	  <center>Images not used by any of your profiles
	    <a href='#' class='btn btn-xs'
	       data-toggle='popover'
	       data-html='true'
	       data-delay='{"hide":500}'
	       data-content='Some or all versions of these images are no longer
			     referenced by any
			     profiles, and so are safe to delete.
			     If all versions of an image can be deleted, you
			     can click on the
			     <span class="glyphicon glyphicon-remove"></span>
			     by the name to do so. Otherwise, click on the
			     <span class="glyphicon glyphicon-chevron-right">
			     </span>
			     to show the versions that can be deleted.
			     This will
			     <b>completely</b> remove the image file from the
			     cluster it resides on, it cannot be recovered!'>
	      <span class='glyphicon glyphicon-question-sign'
		    style='margin-bottom: 4px;'></span>
	    </a>	    
	  </center>
	</caption>
	<thead>
	  <tr>
	    <th class="col-md-5">Image URN</th>
	    <th class="col-md-2">Created</th>
	    <th>File Size</th>
	  </tr>
	</thead>
	<tbody>
	  <% _.each(images, function(image, imageindex) { %>
	    <% if (! (image.candelete || image.inactive)) { return; } %>
	    <tr data-urn="<%- image.urn %>" class="naked-image"
		data-index="<%- imageindex %>">
	      <td>
		<a href="" class="toggle-image">
		  <span class="glyphicon glyphicon-chevron-right"></span></a>
		<%- image.urn %>
		  <% if (image.candelete) { %>
		    <a href="" class="delete-button pull-right">
		      <span class='glyphicon glyphicon-remove'
			    style='color: red; margin-left: 3px;'></span></a>
		  <% } %>
	      </td>
	      <td class="format-date"><%- image.versions[0].created %></td>
	      <td class="image-filesize"></td>
	    </tr>
	    <% _.each(image.versions, function(version, versionindex) { %>
	      <% if (! version.candelete) { return; } %>
	      <tr class="hidden tablesorter-childRow-versions image-version"
		  data-urn="<%- version.urn %>"
		  data-version="<%- version.version %>"
		  data-index="<%- versionindex %>"
		  data-imageindex="<%- imageindex %>">
		<td>
		  <span style="padding-left: 15px"><%- version.urn %></span>
		  <% if (version.candelete) { %>
		    <a href="" class="delete-button pull-right">
		      <span class='glyphicon glyphicon-remove'
			    style='color: red; margin-left: 3px;'></span></a>
		  <% } %>
		</td>
		<td class="format-date"><%- version.created %></td>
		<td class="version-filesize"><%- version.filesize %></td>
	      </tr>
	    <% }); %>
	  <% }); %>
	</tbody>
      </table>
      <table class='tablesorter hidden' id='images-table-one-profile'>
	<caption>
	  <center>Images used by only a single profile
	    <a href='#' class='btn btn-xs'
	       data-toggle='popover'
	       data-html='true'
	       data-delay='{"hide":500}'
	       data-content='Some or all versions of
			     these images are referenced by one
			     or more versions of a <em>single</em> profile.
			     Click on the
			     <span class="glyphicon glyphicon-chevron-right">
			     </span>
			     to show the versions that can be deleted.
			     You may delete these images, but
			     we will <b>also delete</b> the versions of the
			     profile
			     that reference the image, since they will no
			     longer work after the image is deleted.
			     You may also edit the profile version(s) that are
			     using the image, to remove the dependency
			     (you will need to delete the original version
			     of the profile after you change it).
			     <br>
			     Note that we will
			     <b>completely</b> remove the image file from the
			     cluster it resides on, it cannot be recovered.
			     Profile deletion is permanent as well.'>
	      <span class='glyphicon glyphicon-question-sign'
		    style='margin-bottom: 4px;'></span>
	    </a>	    
	  </center>
	</caption>
	<thead>
	  <tr>
	    <th class="col-md-5">Image URN</th>
	    <th class="col-md-2">Created</th>
	    <th>File Size</th>
	    <th class="sorter-false">Profile</th>
	  </tr>
	</thead>
	<tbody>
	  <% _.each(images, function(image, imageindex) { %>
	    <% if (image.candelete) { return; } %>
	    <%
	    var skip = 1;
	    for (var i = 0; i < image.versions.length; i++) {
	      if (image.versions[i].using.length == 1) { skip = 0 }
	    }
	    if (skip) { return; }
	    %>
	    <tr data-urn="<%- image.urn %>" class="naked-image"
		data-index="<%- imageindex %>">
	      <td>
		<a href="" class="toggle-image">
		  <span class="glyphicon glyphicon-chevron-right"></span></a>
		<%- image.urn %>
	      </td>
	      <td class="format-date"><%- image.versions[0].created %></td>
	      <td class="image-filesize"></td>
	      <td></td>
	    </tr>
	    <% _.each(image.versions, function(version, versionindex) { %>
	      <% if (version.candelete) { return; } %>
	      <% if (version.using.length != 1) { return; } %>
	      <tr class="hidden tablesorter-childRow-versions image-version"
		  data-urn="<%- version.urn %>"
		  data-version="<%- version.version %>"
		  data-index="<%- versionindex %>"
		  data-imageindex="<%- imageindex %>">
		<td>
		  <span style="padding-left: 15px"><%- version.urn %></span>
		  <a href="" class="delete-button pull-right">
		    <span class='glyphicon glyphicon-remove'
			  style='color: red; margin-left: 3px;'></span></a>
		</td>
		<td class="format-date"><%- version.created %></td>
		<td class="version-filesize"><%- version.filesize %></td>
		<td class="delete-profile"
		    data-uuid="<%- version.using[0].uuid %>">
		  <a target="_blank"
		     href="show-profile.php?uuid=<%- version.using[0].uuid %>">
		    <%- version.using[0].name %>
		  </a>
		  <% if (version.using[0].versions.length == 1) { %>
		    (Version
		    <a target="_blank"
		       href="show-profile.php?uuid=<%- version.using[0].versions[0].uuid %>">
		    <%- version.using[0].versions[0].version %>
		    </a>)
		  <% } else { %>
		    (Versions 
		    <%
		    var vlist = [];
		    _.each(version.using[0].versions, function (profile) {
		      vlist.push("<a target='_blank' " +
			"href='show-profile.php?uuid=" +
			profile.uuid + "'>" + profile.version + "</a>");
		    });
		    print(vlist.join());
		    %>)
		  <% } %>
	      </tr>
	    <% }); %>
	  <% }); %>
	</tbody>
      </table>
      <table class='tablesorter hidden' id='images-table-multi-profile'>
	<caption>
	  <center>Images used by more then one profile
	    <a href='#' class='btn btn-xs'
	       data-toggle='popover'
	       data-html='true'
	       data-delay='{"hide":500}'
	       data-content='These images are referenced by more then one
			     profile. You cannot delete these images until
			     you modify or delete the profiles that are
			     using the image.'>
	      <span class='glyphicon glyphicon-question-sign'
		    style='margin-bottom: 4px;'></span>
	    </a>	    
	  </center>
	</caption>
	<thead>
	  <tr>
	    <th class="col-md-5">Image URN</th>
	    <th class="col-md-2">Created</th>
	    <th>File Size</th>
	  </tr>
	</thead>
	<tbody>
	  <% _.each(images, function(image, imageindex) { %>
	    <% if (image.candelete) { return; } %>
	    <%
	    var skip = 1;
	    for (var i = 0; i < image.versions.length; i++) {
	      if (image.versions[i].using.length > 1) { skip = 0 }
	    }
	    if (skip) { return; }
	    %>
	    <tr data-urn="<%- image.urn %>">
	      <td>
		<a href="" class="toggle-image">
		  <span class="glyphicon glyphicon-chevron-right"></span></a>
		<%- image.urn %>
	      </td>
	      <td class="format-date"><%- image.versions[0].created %></td>
	      <td class="image-filesize"></td>
	    </tr>
	    <% _.each(image.versions, function(version, versionindex) { %>
	      <% if (version.candelete) { return; } %>
	      <% if (version.using.length <= 1) { return; } %>
	      <tr class="hidden tablesorter-childRow-versions image-version"
		  data-urn="<%- version.urn %>">
		<td>
		  <span style="padding-left: 15px"><%- version.urn %></span>
		  <a href="" class="toggle-version pull-right">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		    Profiles</a>
		</td>
		<td class="format-date"><%- version.created %></td>
		<td class="version-filesize"><%- version.filesize %></td>
	      </tr>
	      <tr class="hidden tablesorter-childRow-versions
			 profile-version">
		<td colspan="3">
		  <div class="row">
		    <div class="col-sm-4 col-md-offset-1">
		      <table class='table table-condensed table-bordered'
			     style="margin-bottom: 0px;">
			<thead>
			  <tr>
			    <th>Profiles using this image</th>
			  </tr>
			</thead>
			<tbody>
			  <% _.each(version.using, function(profile, index) { %>
			    <tr>
			      <td>
				<a target="_blank"
			       href="show-profile.php?uuid=<%- profile.uuid %>">
				  <%- profile.name %>
				</a>
			      </td>
			    </tr>
			  <% }); %>
			</tbody>
		      </table>
		    </div>
		  </div>
		</td>
	      </tr>
	    <% }); %>
	  <% }); %>
	</tbody>
      </table>
    </div>
  </div>
</div>
