<div>
  <div id='about_div'
       class='col-lg-8  col-lg-offset-2
	      col-md-8  col-md-offset-2
	      col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-0'>
  </div>
  <div id='stepsContainer'>
    <h3>Select a Profile</h3>
    <div class='col-lg-8  col-lg-offset-2
		col-md-8  col-md-offset-2
		col-sm-10  col-sm-offset-1
		col-xs-12 col-xs-offset-0'>
      <form id='step0-form' role='form' class="step-forms"
	    enctype='multipart/form-data'
	    method='post' action='instantiate.php'>
	<!-- Guest users see the first wizard step in a panel -->
	<div <% if (!registered) { %>class='panel panel-default'<% } %>>
	  <% if (!registered) { %>
	    <div class='panel-heading'>
	      <h3 class='panel-title'>
		<center>Start Experiment
		  <% if (profilename) { %>
		    using profile '<%= profilename %>'
		  <% } %>
		</center>
	      </h3>
	    </div>
	  <% } %>
	  <div <% if (!registered) { %>class='panel-body'<% } %>>
	    <% if (!registered) { %>
	      <% if (profilename) { %>
		<!-- Will only show header when linked to a profile -->
		<h3 style='margin: 0px;'>
		  <center>Start Experiment
		    using profile '<%= profilename %>'
		  </center>
		</h3>
	      <% } %>
	    <% } %>
	    <!-- If linked to a specific profile, description goes here -->
	    <% if (profilename) { %>
	      <% if (!registered) { %>
		<p>
		  Fill out the form below to run an experiment
		  using this profile:
		</p>
	      <% } %>
	      <blockquote>
		<p><span id='selected_profile_description'></span></p>
	      </blockquote>
	      <p>
		When you click the 'Create' button, the virtual or
		physical machines described in the profile will be booted
		on <%= clustername %>'s hardware
	      </p>
	    <% } %>
	    <% if (!registered) { %>
	      <div class='form-group format-me'>
		<input name="username"
		       id='input_username'
		       value='<%- formfields.username %>'
		       class="form-control"
		       data-key="username"
		       data-label="Username"
		       placeholder='Pick a user name'
		       autofocus
		       type='text'>
		<label class='control-label control-error hidden'
		       for='input_username'></label>
	      </div>
	      <div class='form-group format-me'>
		<input name="email"
		       id='input_email'
		       value="<%- formfields.email %>"
	    	       class="form-control"
		       data-key="email"
		       data-label="Email"
		       placeholder='Your email address'
		       type='text'>
		<label class='control-label control-error hidden'
		       for='input_email'></label>
	      </div>
	      <%
	      var title_text  = "";
   	      var expand_text = "";
	      if (formfields.sshkey == "") {
		title_text = "<span class='text-warning'>" +
   		      "No SSH key, browser shell only!<span>";
		expand_text = "Add Key";
	      }
	      else {
		title_text  = "<span class='text-info'>Your SSH key</span>";
		expand_text = "Update";
	      }
	      %>
	      <div class='form-group row' style='margin-bottom: 0px;'>
		<div class='col-md-12'>
		  <div class='panel panel-default'>
		    <div class='panel-heading'><%= title_text %>
		      <a class='pull-right'
			 data-toggle='collapse' href='#mysshkey'>
			<%- expand_text %>
		      </a>
		    </div>
		    <div id='mysshkey' class='panel-collapse collapse'>
		      <div class='panel-body'>
			<div class='form-group format-me'>
			  <span class='help-block'>
			    Upload a file or paste it in the
			    text box. This will allow you to
			    login using your favorite ssh
			    client. Without a SSH key, you will
			    be limited to using a shell window
			    in your browser. If you already see
			    a key here, you can change it and
			    we will remember your new key for
			    next time.  Not sure how to
			    generate your SSH key?
			    See <a href='https://help.github.com/articles/generating-ssh-keys'>this tutorial.</a>
			  </span>
			  <input type='file'
				 name='keyfile'
				 id="input_keyfile"
				 class="form-control"
				 data-key="keyfile"
				 data-label="Keyfile">
			  <label class='control-label control-error hidden'
				 for='input_keyfile'></label>
			</div>
			<div class='form-group format-me'>
			  <textarea name="sshkey"
				    id='input_sshkey'
				    placeholder='Paste in your ssh public key.'
				    class='form-control'
				    data-key='sshkey'
				    data-label='SSH key'
				    rows=4
				    cols=45><%- formfields.sshkey %></textarea>
			  <label class='control-label control-error hidden'
				 for='input_sshkey'></label>
			</div>
		      </div>
		      <div class='clearfix'></div>
		    </div>
		  </div>
		</div>
	      </div>
 	      <% } %>
	      <!-- Profile selection box -->
	      <% if (showpicker) { %>
		<div class='form-group row' style='margin-bottom: 0px;'>
		  <div class='col-md-12'>
		    <div class='panel panel-default'>
		      <div class='panel-heading'>
			<span class='panel-title'>
			  <strong>Selected Profile:</strong> 
			  <span id='selected_profile_text'></span>
			</span>
		      </div>
		      <div class='panel-body'>
			<div id='selected_profile_description'></div>
		      </div>
		      <div class='panel-footer'>
			<% if (cancopy) { %>
			  <button class='btn btn-default btn-sm pull-left' 
				  type='button' id='profile_copy_button'
				  style='margin-right: 10px;'
				  data-toggle='popover'
				  data-delay='{hide:1500, show:500}'
				  data-html='true'
				  data-content='When you copy a profile you are
				  creating a new profile that uses the same
				  source code and metadata (description,
				  instructions) as the original profile, but
				  without creating a new disk image. Instead,
				  the new profile uses whatever images the
				  original profile uses.'>
			    Copy Profile
			  </button>
			  <button class='btn btn-default btn-sm pull-left'
				  type='button' id='profile_show_button'>
			    Show Profile
			  </button>
			<% } %>
			<button id='profile'
				class='btn btn-primary btn-sm pull-right' 
				type='button' name='profile_button'>
			  Change Profile
			</button>
			<div class='clearfix'></div>
		      </div>
		    </div>
		  </div>
		</div>
	      <% } %>
	  </div>
	</div>
      </form>
    </div>
    <!-- Place holder for parameterized profile step.  -->
    <h3>Parameterize</h3>
    <div class='col-lg-8  col-lg-offset-2
		col-md-8  col-md-offset-2
		col-sm-10 col-sm-offset-1
		col-xs-12 col-xs-offset-0'>
      <div id="pp-container"></div>
    </div>
    <!-- Last step -->
    <h3>Finalize</h3>
    <div class='col-lg-8  col-lg-offset-2
		col-md-8  col-md-offset-2
		col-sm-10 col-sm-offset-1
		col-xs-12 col-xs-offset-0'>
      <!-- Each step needs its own form cause we might put another
	   form into step2 for a parameterized profile, and cannot nest
	   forms -->
      <form id='step2-form' role='form' class="step-forms"
	    method='post' action='instantiate.php'>
	<!-- JS code sets this after selection change. -->
	<input id='selected_profile'
	       type='hidden'
	       name='profile'>
	<!-- JS code sets this if all the nodes are bound. -->
	<input id='fully_bound'
	       type='hidden'
	       name='fully_bound' value="0">
      	<div id='finalize_container'
	     class='col-lg-8 col-md-8 col-sm-8 col-xs-12'>
	  <div class='panel panel-default' style="margin-bottom: 5px">
	    <div class='panel-body'
		 style="padding-top: 5px; padding-bottom: 0px;">
	      <table class='table table-condensed nospaceafter border-none'
		     style="font-size: 14px; font-family: Arial,sans-serif;">
		<tr>
		  <td style="padding: 0px;">
		    <span style="font-weight: bolder;">Profile:</span>
		    <span id='finalize_profile_name'><%= profilename %></span>
		  </td>
		  <td style="padding: 0px;">
		    <span style="font-weight: bolder;">Version:</span>
		    <span id='finalize_profile_version'><%= profilevers %>
		    </span>
		  </td>
		  <td style="padding: 0px;">
		    <button class='btn btn-primary btn-xs'
			    type='button'
			    id="show_xml_modal_button">
		      Source</button></td>
		</tr>
	      </table>
	    </div>
	  </div>
	  <div class='panel panel-default'>
	    <div class='panel-heading'>
	      Please review the selections below and then click Finish.
	    </div>
	    <div class='panel-body'>
	      <!-- Show non-specific errors here. -->
	      <div style='margin-bottom: 10px;'>
		<font color=red>
		  <center><span id="general_error"></span></center>
		</font>
	      </div>
	      <div id='finalize_options'>
		<% if (registered) { %>
		  <!-- Optional experiment name -->
		  <div id='name_selector'
		       class='form-horizontal experiment_option'>		
		    <div class='form-group format-me'>
		      <label class='col-sm-4'
			     style='text-align: right;'>Name:</label>
		      <div class='col-sm-6'
			   data-toggle='popover'
			   data-delay='{hide:1500, show:500}'
			   data-html='true'
			   data-content='Provide a unique name to
			   identify your new experiment. If you are in 
			   the habit of starting more than one
			   experiment at a time, this is really handy
			   when trying to tell one experiment from
			   another, or when referring to
			   an experiment when asking for help.'>
			<input id='experiment_name'
			       placeholder='Optional'
			       class='form-control'
			       data-key='name'
			       name='name'
			       value='<%= formfields.name %>'>
			<label class='control-label control-error hidden'
			       for='experiment_name'></label>
		      </div>
		    </div>
		  </div>
		<% } %>
		<% if (projects) { %>
		  <% if (projects.length == 1) { %>
		    <!-- We need this to look like the selector below,
		    for the JS code. -->
		    <div class='hidden' id='project_selector'>
		      <input id='profile_pid' type='hidden'
			     name='pid'
			     value='<%- formfields.pid %>'>
		    </div>
		  <% } %>
		  <% if (projects.length > 1) { %>
		    <div class='form-horizontal experiment_option'
			 id='project_selector'>
		      <div class='form-group format-me'>
			<label class='col-sm-4'
			       style='text-align: right;'>Project:</label>
			<div class='col-sm-6'>
			  <select name="pid"
				  data-key='pid'
				  id='profile_pid'
				  class='form-control'>
			    <% _.each(projects, function(name) { %>
			      <option 
				  <% if (formfields.pid == name) { %>
				  selected
				  <% } %>
				  value='<%- name %>'><%- name %>
			      </option>
			    <% }); %>
			  </select>
			  <label class='control-label control-error hidden'
				 for='profile_pid'></label>
			</div>
		      </div>
		    </div>
		  <% } %>
		<% } %>
		<% if (amlist) { %>
		  <div id='aggregate_selector'>
		    <!-- The JS code fills this in -->
		    <div id='cluster_selector' class='hidden'></div>
		  </div>
		<% } %>
	      </div>
	      <div id="cluster_status_link"><center>
		<a target="_blank" href="cluster-graphs.php">
		  Check Cluster Status</a></center>
	      </div>
	    </div>
	  </div>
	</div>
	<div id='inline_container'
	     class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
	  <a id='inline_overlay' href='#'>
	    <span class='glyphicon glyphicon-fullscreen'
		  aria-hidden='true'></span>
	  </a> 
	  <div id='inline_jacks'></div>
	</div>
	<!-- This is for a PP rspec. -->
	<textarea name='pp_rspec'
		  id='pp_rspec_textarea'
		  class='form-control hidden'
		  type='textarea'></textarea>
      </form>
    </div>
  </div>
</div>
<!-- This is the user verify modal -->
<div id='verify_modal' class='modal fade'
     data-keyboard="false" data-backdrop="static">
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
	<h3>Important</h3>
      </div>
      <div class='modal-body'>
	<p>Check your email for a verification code, and
	  enter it here:</p>
	<div class='form-group'>
	  <input name='verify' class='form-control'
		 id="verification_token"
		 placeholder='Verification code'
		 autofocus type='text' />
	  <label class='control-label control-error hidden'
		 id="verification_token_error"
		 for='verification_token'></label>
	</div>
	<div class='form-group'>
	  <button class='btn btn-primary form-control'
		  id='verify_modal_submit'
		  type='submit'>
	    Continue</button>
	</div>
      </div>
    </div>
  </div>
</div>
<!-- This is the topology view modal -->
<div id='quickvm_topomodal' class='modal fade'>
  <div class='modal-dialog'  id='showtopo_dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
	<button type='button' class='close' data-dismiss='modal'
		aria-hidden='true'>
	  &times;</button>
	<h3>Select a Profile</h3>
      </div>
      <div class='modal-body'>
	<!-- This topo diagram goes inside this div -->
	<div class='row' id='showtopo_container'>
	  <div class='form-group col-md-3 col-sm-3 col-xs-3'>
	    <input type='text' class='form-control'
		   placeholder='Search'
		   id='profile_picker_search'>
	    <ul class='list-group' id='profile_name'
		name='profile'>
	      <% _.each(profiles, function(value, key) { %>
		<li class='list-group-item profile-item'
		    value='<%- key %>'><%- value.name %>
		</li>
	      <% }); %>
	    </ul>
	  </div> 
	  <div class='col-md-9 col-sm-9 col-xs-9'>
	    <div class='panel-body'>
	      <span id='showtopo_title'></span>
	      <div id='showtopo_div' class='jacks'></div>
	      <span class='pull-left' id='showtopo_description'></span>
	    </div>
	  </div>
	</div>
	<div id='showtopo_buttons' class='pull-right'>
	  <button id='showtopo_select'
		  class='btn btn-primary btn-sm'
		  type='submit' name='select'>
	    Select Profile</button>
	  <button type='button' class='btn btn-default btn-sm' 
		  data-dismiss='modal' aria-hidden='true'>
	    Cancel</button>
	</div>
      </div>
    </div>
  </div>
</div>
<div id='waitwait_div'></div>
<div id='rspecview_div'></div>
<div id='ppviewmodal_div'></div>
<div id='ppmodal_div'></div>
<div id='instantiate_div'></div>
<div id='editmodal_div'></div>
